*.class
/target/
/build/

.idea/
.classpath
.project
.settings/
*.iml
*.ipr
*.iws
.gradle/
/out/
*.log
*.tmp
temp/
*.properties
*.env
.DS_Store
Thumbs.db
.mtj.tmp/
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
out/
.idea_modules/